<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
</head>
    @RenderSection("interactiveForm", required: false)
    <br />
    @RenderBody()
    <br />
    @RenderSection("scripts", required: false)
