<!DOCTYPE html>

<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />

<body style="background:none; height:auto">
    @RenderBody()
</body>
@RenderSection("scripts", required: false)
