<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <script src="/Scripts/jQuery-3.6.1.js"></script>
        @RenderBody()

        <script src="/Scripts/jQuery-3.6.1.js"></script>

        @RenderSection("Scripts", required: false)
        <script src="/Scripts/jQuery-3.6.1.js"></script>
    </div>
</body>
</html>
