@model myPet4.Models.Persons
@{
    ViewData["Title"] = "Новый профиль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form asp-action="CreateUser">
        <h1>@ViewBag.Title</h1>
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="login"></label>
        <input asp-for="login" type="text" style="width=200px" />
        <br />
        <span asp-validation-for="login"></span>
        @Html.ValidationMessage("UserCreatingErr")
        <br />
        <br />
        <input type="submit" class="centerButton" value="Создать" />
        <br />
        <br />
        <hr />
        <br />
        <button class="systemButton centerButton" formmethod="get" asp-action="LogonForm">Назад</button>
    </form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}