@model myPet.Data.Persons


@{
    ViewData["Title"] = "Создание профиля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="CreateUser">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="login"></label>
    </div>
    <div>
        <input asp-for="login" />
        <span asp-validation-for="login"></span>
        @Html.ValidationMessage("UserCreatingErr")
    </div>
    <br />
    <div>
        <input style="float:right" type="submit" value="Создать" />
        <button asp-action="HelloForm">Назад</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}