@model myPet.Data.Finance

@{
    ViewData["Title"] = "CreateFinance";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1>CreateFinance</h1>

<h4>Finance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFinance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="cash" class="control-label"></label>
                <input asp-for="cash" class="form-control" />
                <span asp-validation-for="cash" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="toSave" class="control-label"></label>
                <input asp-for="toSave" class="form-control" />
                <span asp-validation-for="toSave" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="salary" class="control-label"></label>
                <input asp-for="salary" class="form-control" />
                <span asp-validation-for="salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateBegin" class="control-label"></label>
                <input asp-for="dateBegin" type="date" class="form-control" />

                <span asp-validation-for="dateBegin" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="step" class="control-label"></label>
                @*<input asp-for="step" id="step" class="form-control" />*@
                @Html.DropDownList("step", new SelectList(new string[] { "Неделя", "Месяц", "Квартал", "Настраиваемый" }), "Выберите периодичность")
                <span asp-validation-for="step" class="text-danger"></span>
            </div>

            <div id="dEnd" class="form-group" style="visibility:hidden">
                <label asp-for="dateEnd" class="control-label"></label>
                <input asp-for="dateEnd" type="date" class="form-control" />
                <span asp-validation-for="dateEnd" class="text-danger"></span>
            </div>

            <script>
                var c = document.getElementById("step");
                var d = document.getElementById("dEnd");
                c.onchange = function () {
                    if (c.value == "Настраиваемый") {
                        d.style.visibility = "visible";
                    }
                    else d.style.visibility = "hidden";
                }
            </script>

            @*@Model.ID = @ViewData["financeId"]*@

            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
