@*@model myPet4.Models.Finance*@
@model myPet4.Models.Finance

@{
    ViewData["Title"] = "Данные о финансах";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <form asp-action="CreateFinance" style="padding:30px">
        <h1 style="margin:10px">@ViewData["Title"]</h1>
        <div class="leftItems">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="cash"></label>
            <br />
            <input asp-for="cash" />
            <span asp-validation-for="cash" class="text-danger"></span>
            <br />
            <label asp-for="toSave"></label>
            <br />
            <input asp-for="toSave" />
            <span asp-validation-for="toSave" class="text-danger"></span>
            <br />
            <label asp-for="salary"></label>
            <br />
            <input asp-for="salary" />
            <span asp-validation-for="salary" class="text-danger"></span>
            <br />
            <label asp-for="step"></label>
            <br />
            @Html.DropDownList("step", new SelectList(new string[] { "Неделя", "Месяц", "Квартал", "Настраиваемый" }), "Выберите периодичность")
            <span asp-validation-for="step" class="text-danger"></span>
            <br />
            <label asp-for="dateBegin"></label>
            <br />
            <input asp-for="dateBegin" type="date" />
            <span asp-validation-for="dateBegin" class="text-danger"></span>

            <div id="dEnd" style="visibility:hidden">
                <label asp-for="dateEnd"></label>
                <br />

                <input asp-for="dateEnd" type="date" />
                <span asp-validation-for="dateEnd" class="text-danger"></span>
            </div>
            <script>
                var c = document.getElementById("step");
                var d = document.getElementById("dEnd");
                c.onchange = function () {
                    if (c.value == "Настраиваемый") {
                        d.style.visibility = "visible";
                    }
                    else d.style.visibility = "hidden";
                }
            </script>
        </div>
        <br />
        <hr />
        <br />
        <button class="systemButton" style="width:48%" formmethod="get" asp-action="CreateUser">Назад</button>
        <input type="submit" value="Далее" style="width:48%" />

    </form>

</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
