@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Добро пожаловать";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<br />
<link type="text/css" rel="stylesheet" href="/styles/StyleSheet.css" />

<h1 style="background-color:aqua">TEST</h1>
@section Controls
{
    <div>
    <form>
        <button class="test" asp-action="createUser">Создать профиль</button>
        <button asp-action="LogonForm">Вход</button>
    </form>
}
</div>

