@model myPet.Data.Item

@{
    ViewData["Title"] = "ItemsCreate";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1>ItemsCreate</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ItemsCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nameOf" class="control-label"></label>
                <input asp-for="nameOf" class="form-control" />
                <span asp-validation-for="nameOf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="person" class="control-label"></label>
                <input asp-for="person" class="form-control" />
                <span asp-validation-for="person" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="summ" class="control-label"></label>
                <input asp-for="summ" class="form-control" />
                <span asp-validation-for="summ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="savings" class="control-label"></label>
                <input asp-for="savings" class="form-control" />
                <span asp-validation-for="savings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
