@model myPet4.Models.Persons

@{
    ViewData["Title"] = "Добро пожаловть!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section interactiveForm {
    <body>
        <form asp-action="LogonForm">
            <h1>@ViewBag.Title</h1>
            <label>Пользователь</label>
            @Html.DropDownListFor(m => m.id, new SelectList(ViewBag.personList,"id","login"), ViewData["firstPersonName"])
            <br />
            <br />
            <br />
            <input type="submit" class="centerButton" value="Войти" />
            <span asp-validation-for=@ViewData["err"], class="text-danger"></span>
            <br />
            <br />
            <hr />
            <br />
            <button class="centerButton systemButton" asp-action="createUser">
                Создать профиль
            </button>
        </form>
    </body>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}