@model myPet.Data.Persons
@*@using myPet.Models*@

@{
    ViewData["Title"] = "Logon";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1>Logon</h1>
    <thead>

    </thead>
<tbody>

    <form asp-action="LogonForm">
        @*@Html.DropDownListFor(m => m, ViewData["PersonsList"] as SelectList,"login", "--Select--")*@
        @Html.DropDownListFor(m => m.id, new SelectList(ViewBag.personList,"id","login"), "--Select--");

            <span asp-validation-for=@ViewData["err"], class="text-danger"></span>

        <input type="submit" value="Войти" />
    </form>        
</tbody>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}