@model myPet.Data.Persons
@*@using myPet.Models*@

@{
    ViewData["Title"] = "Выбор профиля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<tbody>
    <form asp-action="LogonForm">
        @Html.DropDownListFor(m => m.id, new SelectList(ViewBag.personList,"id","login"), "--Список профилей--")

        <span asp-validation-for=@ViewData["err"], class="text-danger"></span>
        <br />
        <br />
        <button asp-action="HelloForm">Назад</button>
        <input type="submit" value="Загрузка" />
    </form>
</tbody>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}