@model myPet.Data.Person
@using myPet.Models

@{
    ViewData["Title"] = "Logon";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1>Logon</h1>
    <thead>

    </thead>
<tbody>

    <form asp-action="UserForm">
        @Html.DropDownListFor(m => m.id, (IEnumerable<SelectListItem>)ViewData["PersonsList"], "--Select--")

            <span asp-validation-for=@ViewData["err"], class="text-danger"></span>

        <input type="submit" value="Войти" />
    </form>        
</tbody>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}