@model myPet4.Models.Persons

@{
    ViewData["Title"] = "Добро пожаловть!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section interactiveForm {
    <tbody>
        <form asp-action="LogonForm">
            <h1>@ViewBag.Title</h1>
            <div class="centerButton">
                <label>Пользователь</label>
                @Html.DropDownListFor(m => m.id, new SelectList(ViewBag.personList,"id","login"), ViewData["firstPersonName"])
                <br />
                <br />

                <input type="submit" value="Войти" />
                @*<span asp-validation-for=@ViewData["err"], class="text-danger"></span>*@
                <br />
                <br />
                <hr />
                <br />
                <button class="systemButton" asp-action="createUser">
                    Создать профиль
                </button>
            </div>

        </form>
    </tbody>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}