@model myPet4.Models.UserData;
@using myPet4.Models;
@using myPet4.Controllers;

@{
    ViewData["Title"] = Model.Person.login;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div>
        

        @*<iframe id="test" src="@Url.Action("TopView", new{userData = Model})"></iframe>*@
        <iframe id="test" src="@Url.Action("TopView")"></iframe>

        <br />
        <br />
        <table>
            <tr>
                <td style="min-width: 210px">
                    <progress value=@Model.currentIncome max=@Model.Person.Finance.salary></progress>
                    <iframe src="@Url.Action("IncomeForm", new{id=Model.Person.id})"></iframe>
                </td>
                @foreach (UserData.UserItem userItem in Model.userItems)
                {
                    <td style="min-width: 210px">
                        <progress value=@userItem.loaded max=@userItem.item.summ></progress>
                        <iframe src="@Url.Action("TransactionsForm", new{id=userItem.item.id})" onload="FrameUpdate();"></iframe>
                    </td>
                }
            </tr>
        </table>
    </div>
    <button onclick="FrameUpdate();">testBtn</button>
</body>
<script>
    function FrameUpdate(){
        document.getElementById('test').contentWindow.location.reload();
    }    
</script>