@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, greenyellow, dodgerblue);
    font-family: 'Segoe UI';
    font-size: 22px;
   
}

button, input[type=submit], input[type=text] {
    font-size: 18px;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    background: dodgerblue;
    color: #fff;
    border: #fff;
    height: 50px;
    width: 49%;
}

    button:hover, input:hover[type=submit] {
        background: linear-gradient(45deg, greenyellow, dodgerblue);
    }

.centerButton {
    margin: 0 25% 0 25%;
    width: 100%;
}

.systemButton {
    background: #555;
}

    .systemButton:hover {
        background: linear-gradient(90deg, #000,#555);
    }




/*label {
    font-size: 22px;
}*/

.common form {
    position: relative;
    /*padding: 50px 50px;*/
    background: #fff;
    width: 400px;
}







h1 {
    font-size: 2em;
    border-left: 5px solid dodgerblue;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: normal;
    padding-left: 10px;
}




.centerButton select {
    margin:unset;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 10px;
    border-color: #4495fb;
    height: 50px;
    min-height: 4vh;
    width: 99%;
    text-indent: 15px;
}



.padding30 {
    padding: 10px;
}
