@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, greenyellow, dodgerblue);
    font-family: 'Segoe UI';
    font-size: 20px;
}

form {
    box-sizing: content-box;
    background: #d8fef44b;
    padding: 50px;
    border-radius: 10px;
    max-width: 720px;
    min-width: 520px;
    min-height: 520px;
    justify-content: center;
    align-items: center;
}


button, input, select {
    font-size: 18px;
    margin: 3px;
    /*padding: 0 0 0 10px;*/
    border-radius: 10px;
    background: dodgerblue;
    color: #fff;
    border: #fff;
    height: 50px;
}

    button:hover, input:hover[type=submit] {
        background: linear-gradient(45deg, greenyellow, dodgerblue);
    }

.centerButton {
    margin: 0 25% 0 25%;
    width: 50%;
}

.leftItems {
    width: 70%;
    margin: 0 15% 0 15%;
}

    .leftItems input[type=text] {
        height: 35px;
    }

    .leftItems select {
        height: 35px;
    }

    .leftItems input[type=date] {
        height: 35px;
    }

    .leftItems label {
        width: 70%;
        margin: 0 15% 0 -5%;
    }


.systemButton {
    background: #555;
}

    .systemButton:hover {
        background: linear-gradient(90deg, #000,#555);
    }

select, input[type=text], input[type=date] {
    background: #fff;
    color: #000;
    border: 3px solid #555555a2;
    height: 50px;
    width: 100%;
    text-indent: 15px;
}

h1 {
    font-size: 2em;
    border-left: 4px solid dodgerblue;
    padding: 10px;
    color: #171b2a;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: 400;
    padding-left: 10px;
}

.pairButtons{
    width: 47%;
}
