@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-progress-bar {
    background-color: #fff0;
    border-radius: 10px;
    border-color: #007fc8e6;
    border-style: solid;
}

::-webkit-progress-value {
    background-color: #fff200ff;
    border-radius: 10px;
}

progress {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    margin-bottom: 5px;
}

body 
{
    font-family: 'Segoe UI';
    font-size: 20px;
}

#userFormBody {
    /*box-sizing: content-box;*/
    /*display: flex;*/
    display: flow;
    justify-content: center;
    /*align-items: center;*/
    /*height:100vh;*/
    height: 98vh;
    background: linear-gradient(45deg, #adff2fdb, dodgerblue);

}

#formBody {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #adff2fdb, dodgerblue);
    font-family: 'Segoe UI';
    font-size: 20px;
}

    #formBody form {
        box-sizing: content-box;
        background: #d8fef44b;
        padding: 50px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }

iframe {
    background: none;
    background-color:none;
    height: 40vh;
    /*height:fit-content;*/
    width: 100%;
    border: hidden;
    /*border-color: black;*/
}

#bodyTransactions {
    border: initial;
    box-sizing: initial;
    justify-content: initial;
    background: none;
    background-color: none;
    height: auto;
}

.transactionsForm {
    border-radius: 10px;
    background: #d8fef44b;
}

table {
    width: 90%;
    max-width: 1700px;
    margin-left:5%;
    margin-right:5%;
}

td {
    width: 12%;
}

form {
    /*box-sizing: content-box;*/
    background: #d8fef44b;
    /*padding: 50px;*/
    border-radius: 10px;
    /*justify-content: center;*/
    /*align-items: center;*/
}

/*.test form {
    box-sizing: unset;
    padding: 10px;
    width: 100%;
}*/

button, input, select {
    font-size: 18px;
    margin: 3px;
    border-radius: 10px;
    background: dodgerblue;
    color: #fff;
    border: #fff;
    height: 50px;
}

    button:hover, input:hover[type=submit] {
        background: linear-gradient(45deg, greenyellow, dodgerblue);
    }

.centerButton {
    margin: 0 25% 0 25%;
    width: 50%;
}

.leftItems {
    width: 70%;
    margin: 0 15% 0 15%;
}

    .leftItems input[type=text] {
        height: 35px;
    }

    .leftItems select {
        height: 35px;
    }

    .leftItems input[type=date] {
        height: 25px;
        padding: 0;
    }

    .leftItems label {
        width: 70%;
        margin: 0 15% 0 -5%;
    }



.systemButton {
    background: #555;
}

    .systemButton:hover {
        background: linear-gradient(90deg, #000,#555);
    }

select, input[type=text], input[type=date] {
    background: #fff;
    color: #000;
    border: 3px solid #555555a2;
    height: 50px;
    width: 100%;
    text-indent: 15px;
}

h1 {
    font-size: 2em;
    border-left: 4px solid dodgerblue;
    padding: 10px;
    color: #171b2a;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: 400;
    padding-left: 10px;
}

.pairButtons {
    width: 47%;
}

.topPanels {
    width: 100%;
    padding: 0 0 5px 0;
    font-size: 14pt;
    min-height: 10vh;
    box-sizing: content-box;
    position: relative;
}

    .topPanels input {
        font-size: 10px;
        width: 85%;
        height: 30px;
    }

    .topPanels label {
        display: inline-block;
        background: #ffffff7c;
        width: 85%;
        margin: 5px 5% 0 5%;
        padding: 5px;
        border-radius: 5px;
        font-size: 15px;
    }

    .topPanels select {
        height: 75%;
        margin: 5px 0 0 3%;
        width: 94%;
        background: #d8fef44b;
        scrollbar-width: thin;
        scrollbar-color: blue orange;
        font-size: 12px;
        border: none;
    }


.itemButton {
    height: 25px;
    width: 15%;
    background-color: #1e90ff4e;
    background-image: url("../icon/edit_small.png");
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 5px;
    background-position: center;
    background-repeat: no-repeat;
}

#editItem {
    background-color: #08711b4e;
    background-image: url("../icon/edit_small.png");
}

    #editItem:hover {
        background: url("../icon/edit_small.png"), linear-gradient(45deg, greenyellow, #afe3ef);
        background-position: center;
        background-repeat: no-repeat;
    }

#addItem {
    width: 25%;
    background-image: url("../icon/add_small.png");
    height: 25px;
}

    #addItem:hover {
        background: url("../icon/add_small.png"), linear-gradient(45deg, #00fff7, #afe3ef);
        background-position: center;
        background-repeat: no-repeat;
    }

#deleteItem {
    background-color: #e2b3307c;
    background-image: url("../icon/delete_small.png");
}

    #deleteItem:hover {
        background: url("../icon/delete_small.png"), linear-gradient(45deg, red, #efe0af);
        background-position: center;
        background-repeat: no-repeat;
    }

.itemLabel label {
    font-size: 13px;
    margin: 5px 10px 5px 10px;
    border-radius: 10px;
    padding: 3px 5% 3px 5%;
}

#interactiveForm {
    width: 100%;
    box-sizing: content-box;
    background-color: #d8fef44b;
    padding: 0;
    margin-top: 20vh;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0;
    align-items: center;
    min-height: 65vh;
    min-width: none;
    max-height: 65vh;
}

    #interactiveForm input[type=text] {
        height: 15px;
        margin-right: 0;
        margin-left: auto;
        font-size: 11px;
        width: 60%;
        background: #ffffff7c;
    }

    #interactiveForm textarea {
        height: 30px;
        margin-right: 5%;
        margin-left: 5%;
        font-size: 11px;
        width: 88%;
        resize: none;
        border-radius: 10px;
        background: #ffffff7c;
    }

    #interactiveForm input[type=date] {
        height: 15px;
        margin-right: 0;
        margin-left: auto;
        font-size: 11px;
        width: 60%;
        background: #ffffff7c;
    }

    #interactiveForm input[type=checkbox] {
        height: 15px;
        margin-left: 10px;
        position: center;
    }

    #interactiveForm label {
        height: 15px;
        font-size: 11px;
        margin-left: 5px;
        margin-right: 0;
        display: inline-block;
        width: 25%;
    }

    #interactiveForm input[type=submit] {
        height: 30px;
        width: 35%;
        font-size: 11px;
        margin-left: 15%;
        margin-right: unset;
    }

    #interactiveForm button {
        height: 30px;
        width: 35%;
        font-size: 11px;
        margin-right: 10%;
        margin-left: unset;
    }
